extends ./components/_layout.pug

block content_block
  main
    h1 Help Ukraine Popup
    p A small plugin that will help collect donations to help Ukraine.

    br
    h2 Download
    ul
      li
        | • 
        a(href="https://raw.githubusercontent.com/Rokkido/HelpUkrainePopup/master/dist/hup.min.js" target="_blank") Production version
      li
        | • 
        a(href="https://github.com/Rokkido/HelpUkrainePopup" target="_blank") GitHub

    br
    h2 Install (cdn)
    code: pre
      span <
      | script src="https://cdn.jsdelivr.net/gh/Rokkido/HelpUkrainePopup/dist/hup.min.js"
      span ><
      | /script
      span >

    br
    h2 Start using
    code: pre
      span <
      | script
      span >hup();<
      | /script
      span >

    br
    h2 Advanced methods
    code
      p Params
      table
        tr
          td lang
          td 'en', 'ua', 'ru'
        tr
          td place
          td 'left', 'center', 'right'
        tr
          td sitesArmy
          td [{...}, {...}, {...}]
        tr
          td sitesHumanitarian
          td [{...}, {...}, {...}]

    code: pre.
      <span class="comment">// default</span>

      hup({
        lang: 'en',
        place: 'right',
        sitesArmy: [
          {
            title: {
              en: 'Charitable fund "Come Back Alive"',
              ua: 'Благодійний фонд "Повернись живим"',
              ru: 'Благотворительный фонд "Вернись живым"'
            },
            description: {
              en: 'One of the biggest charity funds helping Ukrainian soldiers.',
              ua: 'Один із найбільших благодійних фондів, який допомагає українським військовим.',
              ru: 'Один из крупнейших благотворительных фондов, помогающий украинским военным.',
            },
            currency: 'Fondy.eu, Swift, Cryptocurrency (BTC, ETH, USDC, USDT), UAH',
            link: 'https://www.comebackalive.in.ua/donate'
          },
          {
            title: {
              en: 'National Bank of Ukraine',
              ua: 'Національний банк України',
              ru: 'Национальный банк Украины'
            },
            description: {
              en: 'The National Bank of Ukraine opened a bank account to raise money for the army needs.',
              ua: 'Національний банк України відкрив рахунок для збирання коштів на потреби армії.',
              ru: 'Национальный банк Украины открыл счет для сбора средств на нужды армии.'
            },
            currency: 'USD, EUR, GBP, CHF, AUD, CAD, PLN, UAH',
            link: {
              en: 'https://bank.gov.ua/en/about/support-the-armed-forces',
              ua: 'https://bank.gov.ua/ua/about/support-the-armed-forces',
              ru: 'https://bank.gov.ua/en/about/support-the-armed-forces'
            }
          },
          {
            title: {
              en: 'monobank | UniversalBank',
              ua: 'monobank | UniversalBank',
              ru: 'monobank | UniversalBank'
            },
            description: {
              en: 'Funds are raised onto a single account of the National bank of Ukraine created to support the Ukrainian army.',
              ua: 'Кошти збираються на єдиний рахунок у Національному банку України, створений для підтримки української армії.',
              ru: 'Средства собираются на единый счет в Национальном банке Украины, созданный для поддержки украинской армии.'
            },
            currency: 'Any bank, Apple Pay, Google Pay',
            link: 'https://uahelp.monobank.ua'
          },
          {
            title: {
              en: 'Cryptocurrency',
              ua: 'Криптовалюта',
              ru: 'Криптовалюта'
            },
            description: {
              en: 'Official crypto wallets for transferring money for the Ukrainian army.',
              ua: 'Офіційні криптогаманці, куди можна переказати гроші для армії України.',
              ru: 'Официальные криптокошельки, куда можно перевести деньги для армии Украины.'
            },
            currency: 'BTC, ETH, USDT, DOT, SOL, DOGE',
            link: 'https://thedigital.gov.ua/news/ofitsiyni-kriptogamantsi-kudi-mozhna-perekazati-groshi-dlya-armii-ukraini'
          }
        ],
        sitesHumanitarian: [
          {
            title: {
              en: 'Red Cross',
              ua: 'Червоний Хрест',
              ru: 'Красный Крест'
            },
            description: {
              en: 'All raised funds will be used to support victims, blood donation, mobilization of volunteers and resources.',
              ua: 'Всі залучені кошти будуть використані на підтримку постраждалих, донорство крові, мобілізацію волонтерів та ресурсів.',
              ru: 'Все привлеченные средства будут использованы в поддержку пострадавших, донорство крови, мобилизацию волонтеров и ресурсов.'
            },
            currency: 'USD, EUR, UAH',
            link: {
              en: 'https://donate.redcrossredcrescent.org/ua/donate/~my-donation',
              ua: 'https://donate.redcrossredcrescent.org/ua/donate/~%D0%BC%D0%BE%D1%8F-%D0%BF%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%B0',
              ru: 'https://donate.redcrossredcrescent.org/ua/donate/~my-donation'
            }
          },
          {
            title: {
              en: 'National Bank of Ukraine',
              ua: 'Національний банк України',
              ru: 'Национальный банк Украины'
            },
            description: {
              en: 'The National Bank of Ukraine opened a bank account for raising money for humanitarian help.',
              ua: 'Національний банк України відкрив рахунок для збирання коштів на гуманітарну допомогу.',
              ru: 'Национальный банк Украины открыл счет для сбора средств на гуманитарную помощь.'
            },
            currency: 'USD, EUR, GBP, CHF, AUD, CAD, PLN, UAH',
            link: {
              en: 'https://bank.gov.ua/en/about/humanitarian-aid-to-ukraine',
              ua: 'https://bank.gov.ua/ua/about/humanitarian-aid-to-ukraine',
              ru: 'https://bank.gov.ua/en/about/humanitarian-aid-to-ukraine'
            }
          },
          {
            title: title: 'Unchain.Fund',
            description: {
              en: 'Unchain is a charity project created by blockchain activists.',
              ua: 'Unchain — це благодійний проект, створений активістами блокчейн.',
              ru: 'Unchain — благотворительный проект, созданный активистами блокчейн.'
            },
            currency: 'BTC, ETH, BSC, Polygon, Harmony, NEAR, Avalanche, Celo, Terra, IoTeX',
            link: 'https://unchain.fund/donate'
          }
        ]
      });

    p.author: a(href="https://t.me/rokkido" target="_blank") @rokkido

  style.
    html, body{
      margin: 0;
      padding: 0;
    }

    body{
      font-family: Roboto, sans-serif;
      color: #333;
      padding: 15px;
      line-height: 1.3;
    }

    h1, h2, p{
      margin: 0;
    }

    h1, h2{
      margin-bottom: 10px;
      font-weight: bold;
    }

    h1{
      font-size: 32px;
    }

    h2{
      font-size: 24px;
    }

    ul{
      margin: 0;
      padding: 0;
    }

    li{
      display: block;
    }

    li:not(:last-child){
      margin-bottom: 10px;
    }

    a{
      color: #226dc1;
    }

    code{
      display: block;
      background-color: #333;
      color: #fff;
      padding: 15px;
      border-radius: 8px;
      overflow: auto;
      margin-bottom: 10px;
    }

    pre{
      margin: 0;
      padding: 0;
    }

    table{
      width: 100%;
      overflow: auto;
      margin-top: 5px;
    }

    td{
      width: 50%;
      border: 1px solid #eee;
      min-width: 150px;
      padding: 5px 15px;
    }

    .comment{
      color: #32bd32;
    }

    main{
      max-width: 800px;
      margin: 50px auto 15px;
    }

    .author{
      font-size: 12px;
      text-align: center;
      margin-top: 50px;
    }